*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  padding: 5rem;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 2px 3px red;
}
